*.iml
*.ipr
*.iws
*.log
*.njsproj
*.ntvs*
*.orig
*.rej
*.sln
*.suo
*.sw?
*.swo
*.swp
.DS_Store
.classpath
.env.*.local
.env.local
.idea
.mvn/
.project
.settings/
.vscode
dist/
bin/
nb-configuration.xml
node_modules
npm-debug.log*
pnpm-debug.log*
pom.xml.releaseBackup
pom.xml.tag
pom.xml.versionsBackup
release.properties
target/
yarn-debug.log*
yarn-error.log*
